@import "./mixins";

:root {
    --bg: #e9ebf3;
    --select-color: #ffffff;
    --select-bg: #6e449993;
    --header-bg: #6e4499;
    --title: #ffffff;
    --header-caption: #ffffff;
    --filters-bg: #ffffff;
    --filter-radio-bg: #aaaaaa;
    --filter-radio-checked-bg: #6e4499;
    --label-color: #818181;
    --filter-label-checked-bg: #6e4499;
    --number-of-todos-color: #878585;
    --remove-all-color: #6e4499;
    --remove-all-border: #6e4499;
    --remove-all-hover-color: #ffffff;
    --remove-all-hover-bg: #6e4499;
    --todo-bg: #ffffff;
    --todo-checkbox-bg: #d8d8d8;
    --todo-checkbox-checked-bg: #6e4499;
    --todo-label-color: #595959;
    --todo-remove-color: #8d8d8d;
    --new-todo-input-color: #ffffff;
    --new-todo-input-bg: #6e449987;
    --new-todo-input-placeholder-color: #ffffff;
    --new-todo-btn-color: #ffffff;
    --new-todo-btn-bg: #6e4499;
}

[theme="dark"] {
    --bg: #222329;
    --select-color: #6e4499;
    --select-bg: #ffffff7b;
    --header-bg: #6e4499;
    --title: #ffffff;
    --header-caption: #ffffff;
    --filters-bg: #313338;
    --filter-radio-bg: #dddddd;
    --filter-radio-checked-bg: #6e4499;
    --label-color: #ffffff;
    --filter-label-checked-bg: #9054cd;
    --number-of-todos-color: #d9d9d9;
    --remove-all-color: #6e4499;
    --remove-all-border: #6e4499;
    --remove-all-hover-color: #ffffff;
    --remove-all-hover-bg: #6e4499;
    --todo-bg: #313338;
    --todo-checkbox-bg: #bbbbbb;
    --todo-checkbox-checked-bg: #bbbbbb10;
    --todo-label-color: #bbbbbb;
    --todo-remove-color: #aaaaaa;
    --new-todo-input-color: #6e4499;
    --new-todo-input-bg: #ffffff;
    --new-todo-input-placeholder-color: #6e4499;
    --new-todo-btn-color: #ffffff;
    --new-todo-btn-bg: #6e4499;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    color: var(--select-color);
    background-color: var(--select-bg);
}

body {
    background: var(--bg);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.theme {
    position: absolute;
    top: 20px;
    right: 20px;
}

// Theme Switch Setting
.switch {
    position: relative;
    display: inline-block;
    @include sizing(40px, 20px);
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c0bfbf;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    &::before {
        border-radius: 50px;
    }
}

.theme-mode {
    color: #e6e6e6 !important;
    cursor: pointer;
}

.slider:before {
    position: absolute;
    content: "";
    @include sizing(14px, 14px);
    left: 4px;
    bottom: 3px;
    background-color: var(--header-bg);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider{
    background-color: #626262;
}

input:checked + .slider:before {
    background-color: #b081de;
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

.title, .filters {
    padding: 0 6rem;
}

header {
    background-color: var(--header-bg);
    position: relative;
    
    .title {
        color: var(--title);
        @include flex(column, center, start);
        height: 100px;
        #title {
            font-size: 22px;
        }
        p {
            color: var(--header-caption);
        }
    }


    .filters {
        height: 46px;
        @include flex(row, space-between, center);
        background-color: var(--filters-bg);

        input {
            @include sizing(10px, 10px);
            appearance: unset;
            background-color: var(--filter-radio-bg);
            border-radius: 50%;
            transition: all .1s ease-in-out;
            cursor: pointer;
            &:checked {
                background-color: var(--filter-radio-checked-bg);
            }
            &:checked + label {
                color: var(--filter-label-checked-bg);
            }
        }

        label {
            color: var(--label-color);
            cursor: pointer;
            transition: all .1s ease-in-out;
        }
    }
}

main {
    padding: 2rem 6rem;

    div:nth-child(1) {
        @include flex(row, space-between, center)
    }

    .number-of-todos {
        color: var(--number-of-todos-color);
        display: inline-block;
    }

    .remove-all {
        color: var(--remove-all-color);
        background-color: inherit;
        border: 1px solid var(--remove-all-border);
        padding: 0.5rem 0.8rem;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
            color: var(--remove-all-hover-color);
            background-color: var(--remove-all-hover-bg);
        }
    }
}

.todo-list {
    list-style: none;
    @include flex(column, space-between, center);
    gap: 14px;
    margin: 1rem 0;

    .todo {
        @include sizing(100%, 56px);
        @include flex(row, space-between, center);
        background-color: var(--todo-bg);
        border-radius: 6px;
        input {
            appearance: unset;
            @include sizing(12px, 12px);
            background-color: var(--todo-checkbox-bg);
            margin: 0 1rem;
            border-radius: 2px;
            cursor: pointer;
            &:checked {
                background-color: var(--todo-checkbox-checked-bg);
            }
        }
        label {
            color: var(--todo-label-color);
            cursor: pointer;
        }
        button {
            margin: 0 1rem;
            color: var(--todo-remove-color);
            background-color: inherit;
            border: none;
            cursor: pointer;
        }
    }
}

.new-todo {
    margin-top: 2rem;
    .new-todo-input {
        @include sizing(220px, 30px);
        color: var(--new-todo-input-color);
        background-color: var(--new-todo-input-bg);
        border: none;
        border-radius: 4px;
        padding: 0 8px;
        &:focus {
            caret-color: #00000000;
            outline: none;
        }
        &::placeholder {
            color: var(--new-todo-input-placeholder-color)
        }
    }
    .new-todo-btn {
        @include sizing(82px, 32px);
        color: var(--new-todo-btn-color);
        background-color: var(--new-todo-btn-bg);
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-left: 2px;
        &:hover {
            filter: brightness(96%);
        }
        &:focus {
            outline: none;
        }
    }
}

@media(max-width:500px) {
    .title, .filters {
        padding: 0 1.4rem;
    }
    .filters {
        font-size: 14px;

        input {
            @include sizing(6px, 6px);
        }
    }
    main {
        padding: 2rem 1.4rem;
        .number-of-todos {
            font-size: 16px;
        }
    }
}